<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.translate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feature.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Default" />

        <activity
            android:name=".feature.OverlayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <service
            android:name="com.example.translate.service.MainService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.translate.service.action.START" />
                <action android:name="com.example.translate.service.action.STOP" />
                <action android:name="com.example.translate.service.action.EXPAND" />
                <action android:name="com.example.translate.service.action.COLLAPSE" />
                <action android:name="com.example.translate.service.action.SHOW" />
                <action android:name="com.example.translate.service.action.HIDE" />
            </intent-filter>
        </service>

        <!--<meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="core.util.notification.NotificationService"
            android:enabled="true" />

        <service
            android:name="core.util.fcm.FCMRegistrationService"
            android:exported="false" />

        <service android:name="core.util.fcm.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="core.util.fcm.FCMInstanceIdListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="core.util.telephony.TelephonyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>-->

    </application>

</manifest>